:root {
  --orange:#F4512C;
  --purple:#5E1B88;
  --orange-darker: #D63E1F;
  --purple-darker: #4A146B;
  --white: #F8FFFE;
  --gray:  #475569;
  --gray1: #CCCCCC;
  --gray2: #555555;
  --gray3: #999999;
  --gray4: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Lato', san-serif;
}

html, body {
  background: var(--white);
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.header-title {
  text-align: center;
  color: var(--purple);
  margin-top: 50px;
}